.dialog-box {
    display: flex;
    position: fixed;
    z-index: 15;
    background-color: var(--brightest-color);
    color: var(--darkest-color);
    min-width: 20rem;
    min-height: 20rem;
    border: none;
    border-radius: 2rem;
    padding: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/*
    CSSTransition
*/

.dialog-box-enter {
    opacity: 0;
    transform: translateY(-30vh) scale(0);
}

.dialog-box-enter-active,
.dialog-box-enter-done {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all var(--animation-time);
}

.dialog-box-exit {
    opacity: 0;
    transform: translateY(0) scale(1);
}

.dialog-box-exit-active,
.dialog-box-exit-done {
    opacity: 1;
    transform: translateY(-30vh) scale(0);
    transition: all var(--animation-time);
}