.button-like {
    padding: 0.8em 1.4rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    transition: ease var(--animation-time) all;
    display: block;
    border-radius: 0.2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.icon {
    border: none;
    background-color: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: ease var(--animation-time) all;
}

.icon:hover {
    transform: scale(1.2);
}

.plus-btn {
    width: fit-content;
}

.no-scroll {
    overflow: hidden;
}
